<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 50%), url(<%= image_path("banner.jpg")%>);">
  <div class="banner-content">
    <h2>Trevor</h1>
    <h6>Ecoutez de la musique</h6>
    <a href="#" class="button">Rejoignez-nous !</a>
  </div>
  <%= render "shared/navbar" %>
</div>
<div class="content-container">
  <div class="content">
    <h3>Obtenez 3 mois pour 0,99 €</h3>
    <p>Seulement 9,99 € /par mois ensuite. Annulez à tout moment.</p>
    <a href="#" class="button2">Télécharger Trevor !</a>
    <p class="smallparagraph">Offre réservée aux utilisateurs n'ayant jamais essayé Spotify Premium. Offre valable jusqu'au 30 juin 2019. Offre soumise à conditions.</p>
  </div>
</div>

<div class="footer">
  <div class="container">
    <nav class="row">
      <div class="col-xs-12 col-md-2">
        <%= link_to root_path, class: "navbar-wagon-brand" do %>
          <%= image_tag "logo-test.jpg", height: 50 %>
        <% end %>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">

      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">

      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">

      </div>
      <div class="col-xs-12 col-md-4 col-social">
        <a href="https://www.instagram.com/vinhlabrioche/" target="_blank" ><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/francois.nguyen.790" target="_blank" ><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/Vinh_la_brioche" target="_blank" ><i class="fab fa-twitter"></i></a>
      </div>
    </nav>
  </div>
</div>
