<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 50%), url(<%= image_path("banner.jpg")%>);">
  <div class="banner-content">
    <h2>Trevor</h1>
    <h6>Ecoutez de la musique</h6>
    <a href="#" class="button">Rejoignez-nous !</a>
  </div>
  <%= render "shared/navbar" %>
</div>
<div class="content-container">
  <div class="content">
    <h3>Obtenez 3 mois pour 0,99 €</h3>
    <p>Seulement 9,99 € /par mois ensuite. Annulez à tout moment.</p>
    <a href="#" class="button2">Télécharger Trevor !</a>
    <p class="smallparagraph">Offre réservée aux utilisateurs n'ayant jamais essayé Spotify Premium. Offre valable jusqu'au 30 juin 2019. Offre soumise à conditions.</p>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-2">
        <%= link_to root_path, class: "navbar-wagon-brand" do %>
          <%= image_tag "logo-test.jpg", height: 50 %>
        <% end %>
      </div>
      <div class="col-6 col-sm-4 col-md-2">
        <h3 class="nav-title">Société</h3>
        <ul class="nav">
          <li>A propos</li>
          <li>Offres d'emplois</li>
          <li>For the record</li>
        </ul>
      </div>
      <div class="col-6 col-sm-4 col-md-2">
        <h3 class="nav-title">Communauté</h3>
        <ul class="nav">
          <li>Espaces artistes</li>
          <li>Développeurs</li>
          <li>Marques</li>
          <li>Investisseurs</li>
          <li>Fournisseurs</li>
        </ul>
      </div>
      <div class="col-6 col-sm-4 col-md-2">
        <h3 class="nav-title">lien utiles</h3>
        <ul class="nav">
          <li>Aides</li>
          <li>Lecteur Web</li>
        </ul>
      </div>
      <div class="col-12 col-md-4 col-social">
        <ul class="nav-social">
          <li>
            <a href="https://www.instagram.com/vinhlabrioche/" target="_blank" ><i class="fab fa-instagram"></i></a></li>
          <li>
            <a href="https://www.facebook.com/francois.nguyen.790" target="_blank" ><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/Vinh_la_brioche" target="_blank" ><i class="fab fa-twitter"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
